@import "tailwindcss" prefix(mg);
@config "../tailwind.config.ts";
@import "./theme.css";

@font-face {
  font-family: 'Inter Body';
  src: url('/fonts/Inter_18pt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  size-adjust: 95%;
  font-size-adjust: ex-height;
}

@font-face {
  font-family: 'Inter Bold';
  src: url('/fonts/Inter_24pt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  size-adjust: 95%;
  font-size-adjust: ex-height;
}

@font-face {
  font-family: 'Inter Heading';
  src: url('/fonts/Inter_28pt-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  size-adjust: 95%;
  font-size-adjust: ex-height;
}

@layer base {
  body {
    font-family: 'Inter Body', sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Inter Heading', sans-serif;
  }

  strong,
  b,
  em,
  mark {
    font-family: 'Inter Bold', sans-serif;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
